<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MoeDelo Challenge</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  </head>

  <body>

    <div id="app-container">
      <div id="header-region"></div>
      <div id="main-region">
        <p>Тут должно быть наше SPA</p>
      </div>
    </div>

    <script type="text/template" id="header-template">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#contacts">A.Talianov</a>
          <div class="nav-collapse collapse">
            <ul class="nav"></ul>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="header-link">
      <a href="#<%- url %>"><%- name %></a>
    </script>

    <script type="text/template" id="hero-info">

          <h2><%- heading %></h2>
          <p><%- intro %></p>
          <p>
            <a  href="<%- url %>" class="btn btn-primary btn-large">
              Давайте разберёмся :)
            </a>
          </p>

    </script>

    <script type="text/template" id="about-message">
      <header class="jumbotron subhead">
        <div class="container">
          <h1>Немного обо мне</h1>
          <p class="lead">Вы знали что в интернете так мало учебной информации о марионет?</p>
        </div>
      </header>
      <div class="container">
        <p>Очень часто в различных элементах интерфейса у нас встречаются похожие элементы управления (например кнопка «Удалить» может быть и у категорий, и у записей, и в списке зарегистрированных пользователей… да везде), и каждый раз приходится описывать обработчик этой кнопки в каждом View, причем везде одинаково. </p>
        <p>Но это уже называется дублирование кода, и не приветствуется в большинстве общества. Поэтому разработчики Marionette.js предоставили нам такую замечательную фичу как Behaviors.</p>
        <p>Behaviors предоставляет интерфейс для изолирования описаний взаимодействия DOM с пользователем в отдельные логические куски кода. Behavior может быть применено к любому View любое количество раз.</p>
      </div>
    </script>

    <script type="text/template" id="page-message">
      <header class="jumbotron subhead">
        <div class="container">
          <h1>Что нового в Marionette?</h1>
          <p class="lead">судьбоносные решения</p>
        </div>
      </header>

      <div class="container">
        <p>Если глянуть на историю развития десктоп приложений, видно, что она начиналась с мощных серверов, которые могли слать экраны текста тонким клиентам. Тонкие клиенты давали команду, которую обрабатывал сервер и потом слал новый экран обратно клиенту.</p>
        <p>С течением времени, оборудование стало дешевле и мы пришли к текущей модели, когда клиент делает значительную часть работы, а общается с сервером только для того, чтобы получить информацию, сохранить информацию или дать команду, которая должна быть запущена в защищенном, контролируемом окружении.</p>
        <p>Теперь, если подумать, в те времена разрабатывать было проще, из-за того, что все пользователи были одинаково ограничены аппаратной частью.</p>
        <p>К несчастью (для разработчиков), ограничения, наложенные этой моделью, также полностью неприемлемы для конечных пользователей. Они хотят отзывчивое, быстрое, красивое ПО, что почти неосуществимо в условиях, когда любое небольшое действие ведет к запросу-ответу на удаленный сервер.</p>
      </div>

    </script>

    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/jquery-ui-1.10.3.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.picky.js"></script>
    <script src="./assets/js/vendor/backbone.syphon.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>

    <script src="./assets/js/app.js"></script>

    <script src="./assets/js/entities/header.js"></script>
    <script src="./assets/js/entities/home.js"></script>

    <script src="./assets/js/apps/home/home_app.js"></script>
    <script src="./assets/js/apps/home/intro/intro_view.js"></script>
    <script src="./assets/js/apps/home/intro/intro_controller.js"></script>

    <script src="./assets/js/apps/about/about_app.js"></script>
    <script src="./assets/js/apps/about/show/show_view.js"></script>
    <script src="./assets/js/apps/about/show/show_controller.js"></script>

    <script src="./assets/js/apps/page/page_app.js"></script>
    <script src="./assets/js/apps/page/show/show_view.js"></script>
    <script src="./assets/js/apps/page/show/show_controller.js"></script>

    <script src="./assets/js/apps/header/header_app.js"></script>
    <script src="./assets/js/apps/header/list/list_view.js"></script>
    <script src="./assets/js/apps/header/list/list_controller.js"></script>

    <script type="text/javascript">
      App.start();
    </script>
  </body>
</html>
